<h1>Please Enter Your Name</h1>

<form action="/users" method="POST">
   <input name = "authenticity_token" value = "<%= form_authenticity_token %>" type = "hidden">
   <p>
     <label>Name:</label>
     <input name = "name" type = "text" placeholder = "Your Name">
   </p>
   <input type = "submit" value = "Create User">
</form>
