// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h4 {
  text-align: center;
}
form {
  margin-left: 450px;
}
input:nth-child(3) {
  margin-left: 90px;
}
