<div class="row">
  <div class="col-md-12">
    <h4>Register</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <form action="<%= register_path %>" method="post" class="form">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <!-- First Name -->
      <div class="form-group">
        <input type="text" name="user[first_name]" class="form-control" id="first_name" placeholder="Enter First Name">
      </div>

      <!-- Last Name -->
      <div class="form-group">
        <input type="text" name="user[last_name]" class="form-control" id="last_name" placeholder="Enter Last Name">
      </div>

      <!-- Alias -->
      <div class="form-group">
        <input type="text" name="user[alias]" class="form-control" id="alias" placeholder="Enter Alias">
      </div>

      <!-- Email -->
      <div class="form-group">
        <input type="text" name="user[email]" class="form-control" id="email" placeholder="Enter Email">
      </div>

      <!-- Age -->
      <div class="form-group">
        <input type="text" name="user[age]" class="form-control" id="age" placeholder="Enter Age">
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="text" name="user[password]" class="form-control" id="password" placeholder="Enter Password">
      </div>

      <!-- Password -->
      <div class="form-group">
        <input type="text" name="user[password_confirmation]" class="form-control" id="password_confirmation" placeholder="Enter Password Confirmatiom">
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
    </div>
    <div class="col-md-2">
</div>
